In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
ls

 Volume in drive C is Acer
 Volume Serial Number is 6CA3-2EE7

 Directory of C:\Users\gokul\OneDrive\Documents\excelr\project\data

12-04-2022  10:16 PM    <DIR>          .
12-04-2022  10:16 PM    <DIR>          ..
12-04-2022  02:06 PM    <DIR>          .ipynb_checkpoints
11-04-2022  07:29 PM            14,987 deployment.ipynb
16-03-2022  09:48 PM            14,850 Ecommerce project.docx
12-04-2022  02:05 PM         1,336,156 ecommerce updated.pptx
16-03-2022  09:48 PM            40,116 Ecommerce.csv
03-04-2022  09:27 PM           861,685 ecommerce.pptx
07-04-2022  12:57 PM         1,195,159 log transformation.ipynb
12-04-2022  10:16 PM            21,368 outlier tratment.ipynb
11-04-2022  06:58 PM         2,333,140 project.ipynb
07-04-2022  02:00 PM         1,063,114 reciprocal transformation.ipynb
03-04-2022  09:02 PM    <DIR>          scs
07-04-2022  01:47 PM         1,227,962 sqrt transformation.ipynb
              10 File(s)      8,108,537 bytes
               4 Dir(s)  125,252,014,080 bytes free

In [3]:
data=pd.read_csv("Ecommerce.csv")

In [4]:
datanew=data.copy()

In [20]:
datanew

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
0,32.538350,12.028846,35.850540,3.648854,576.098273
1,34.206718,12.226851,37.246443,1.987536,460.784955
2,31.535240,11.814341,36.610697,3.351191,349.739791
3,32.199577,11.295163,37.425695,5.234337,547.709921
4,33.570137,13.500972,36.856165,3.938603,487.055641
...,...,...,...,...,...
618,31.941434,11.158640,36.846959,3.219605,559.546775
619,33.446133,12.374820,37.592235,4.917733,515.186966
620,32.967749,11.392061,36.916664,2.955718,601.715746
621,33.469949,11.930872,37.744155,4.577850,477.741395
622,33.443393,12.978933,37.311979,3.575459,390.149419

In [6]:
datanew=data.drop("Customer ID",axis=1)

In [7]:
datanew.head()

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
0,32.538350,12.028846,35.850540,3.648854,576.098273
1,34.206718,12.226851,37.246443,1.987536,460.784955
2,31.535240,11.814341,36.610697,3.351191,349.739791
3,32.199577,11.295163,37.425695,5.234337,547.709921
4,33.570137,13.500972,36.856165,3.938603,487.055641

In [8]:
print("highest allowed",datanew['Avg Session length'].mean() + 3*datanew['Avg Session length'].std())

print("lowest allowed",datanew['Avg Session length'].mean() - 3*datanew['Avg Session length'].std())

highest allowed 35.88664047741373
lowest allowed 30.19221691693615

In [9]:
datanew[(datanew['Avg Session length']>35.88) | (datanew['Avg Session length']<30.19) ]

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
466,29.9723,10.863173,38.437057,2.715392,580.287338

In [10]:
upperlimit=datanew['Avg Session length'].mean() + 3*datanew['Avg Session length'].std()
lowerlimit=datanew['Avg Session length'].mean() - 3*datanew['Avg Session length'].std()

In [11]:
datanew['Avg Session length']=np.where(
datanew['Avg Session length']>upperlimit,upperlimit,
np.where(datanew['Avg Session length']<lowerlimit,lowerlimit,
      datanew['Avg Session length']
        )
)

In [12]:
data['Avg Session length'].describe()

count    623.000000
mean      33.039429
std        0.949071
min       29.972300
25%       32.375680
50%       33.044399
75%       33.700947
max       35.744415
Name: Avg Session length, dtype: float64

In [13]:
data['Time on App'].describe()

count    623.000000
mean      12.001459
std        0.996609
min        9.273248
25%       11.334163
50%       11.998823
75%       12.647695
max       15.138317
Name: Time on App, dtype: float64

In [14]:
print("highest allowed",datanew['Time on App'].mean() + 3*datanew['Time on App'].std())

print("lowest allowed",datanew['Time on App'].mean() - 3*datanew['Time on App'].std())

highest allowed 14.991286571146503
lowest allowed 9.011631370111921

In [15]:
datanew[(datanew['Time on App']>14.99) | (datanew['Time on App']<9.01) ]

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
403,31.482404,15.138317,35.889082,3.350676,467.67009

In [16]:
upperlimit=datanew['Time on App'].mean() + 3*datanew['Time on App'].std()
lowerlimit=datanew['Time on App'].mean() - 3*datanew['Time on App'].std()

In [17]:
datanew['Time on App']=np.where(
datanew['Time on App']>upperlimit,upperlimit,
np.where(datanew['Time on App']<lowerlimit,lowerlimit,
      datanew['Time on App']
        )
)

In [18]:
datanew['Time on App'].describe()

count    623.000000
mean      12.001223
std        0.995882
min        9.273248
25%       11.334163
50%       11.998823
75%       12.647695
max       14.991287
Name: Time on App, dtype: float64

In [19]:
data['Time on App'].describe()

count    623.000000
mean      12.001459
std        0.996609
min        9.273248
25%       11.334163
50%       11.998823
75%       12.647695
max       15.138317
Name: Time on App, dtype: float64

In [22]:
print("highest allowed",datanew['Time on Website'].mean() + 3*datanew['Time on Website'].std())

print("lowest allowed",datanew['Time on Website'].mean() - 3*datanew['Time on Website'].std())

highest allowed 40.05427601672804
lowest allowed 34.1037607661291

In [23]:
datanew[(datanew['Time on Website']>40.05) | (datanew['Time on Website']<34.1037) ]

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
114,32.803528,12.674081,40.808388,4.946204,501.665489
151,34.457991,10.703615,33.883174,1.940848,605.829768
381,32.994988,9.895113,33.751071,5.067124,531.562863

In [24]:
upperlimit=datanew['Time on Website'].mean() + 3*datanew['Time on Website'].std()
lowerlimit=datanew['Time on Website'].mean() - 3*datanew['Time on Website'].std()

In [25]:
datanew['Time on Website']=np.where(
datanew['Time on Website']>upperlimit,upperlimit,
np.where(datanew['Time on Website']<lowerlimit,lowerlimit,
      datanew['Time on Website']
        )
)

In [26]:
data['Time on Website'].describe()

count    623.000000
mean      37.079018
std        0.991753
min       33.751071
25%       36.376725
50%       37.113631
75%       37.773880
max       40.808388
Name: Time on Website, dtype: float64

In [27]:
datanew['Time on Website'].describe()

count    623.000000
mean      37.078728
std        0.984724
min       34.103761
25%       36.376725
50%       37.113631
75%       37.773880
max       40.054276
Name: Time on Website, dtype: float64

In [28]:
print("highest allowed",datanew['Length of MemberShip'].mean() + 3*datanew['Length of MemberShip'].std())

print("lowest allowed",datanew['Length of MemberShip'].mean() - 3*datanew['Length of MemberShip'].std())

highest allowed 6.359037942989341
lowest allowed 0.6706613078934751

In [29]:
datanew[(datanew['Length of MemberShip']>6.35) | (datanew['Length of MemberShip']<0.6760) ]

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
262,33.368670,11.809947,36.634699,6.553916,474.822177
337,35.008949,11.690502,36.627809,6.363211,542.996297
486,33.486628,10.232959,37.102796,6.411200,544.635430

In [30]:
upperlimit=datanew['Length of MemberShip'].mean() + 3*datanew['Length of MemberShip'].std()
lowerlimit=datanew['Length of MemberShip'].mean() - 3*datanew['Length of MemberShip'].std()

In [31]:
datanew['Length of MemberShip']=np.where(
datanew['Length of MemberShip']>upperlimit,upperlimit,
np.where(datanew['Length of MemberShip']<lowerlimit,lowerlimit,
      datanew['Length of MemberShip']
        )
)

In [32]:
data['Length of MemberShip'].describe()

count    623.000000
mean       3.514850
std        0.948063
min        0.891398
25%        2.906558
50%        3.504771
75%        4.140305
max        6.553916
Name: Length of MemberShip, dtype: float64

In [33]:
datanew['Length of MemberShip'].describe()

count    623.000000
mean       3.514446
std        0.946816
min        0.891398
25%        2.906558
50%        3.504771
75%        4.140305
max        6.359038
Name: Length of MemberShip, dtype: float64

In [34]:
print("highest allowed",datanew['Yealy amount spent'].mean() + 3*datanew['Yealy amount spent'].std())

print("lowest allowed",datanew['Yealy amount spent'].mean() - 3*datanew['Yealy amount spent'].std())

highest allowed 739.698916048476
lowest allowed 259.5011290398072

In [37]:
datanew[(datanew['Yealy amount spent']>739.6989) | (datanew['Yealy amount spent']<259.5011)]

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
9,33.696003,12.488779,36.322443,1.965374,775.337626
20,32.100980,10.850749,37.438323,4.302290,256.670000
44,32.655103,11.452659,38.624902,2.147533,765.000000
425,32.632405,11.239300,38.127444,3.254807,756.235633

In [38]:
upperlimit=datanew['Yealy amount spent'].mean() + 3*datanew['Yealy amount spent'].std()
lowerlimit=datanew['Yealy amount spent'].mean() - 3*datanew['Yealy amount spent'].std()

In [39]:
datanew['Yealy amount spent']=np.where(
datanew['Yealy amount spent']>upperlimit,upperlimit,
np.where(datanew['Yealy amount spent']<lowerlimit,lowerlimit,
      datanew['Yealy amount spent']
        )
)

In [40]:
data['Yealy amount spent'].describe()

count    623.000000
mean     499.600023
std       80.032965
min      256.670000
25%      447.665160
50%      498.806136
75%      551.257208
max      775.337626
Name: Yealy amount spent, dtype: float64

In [42]:
datanew['Yealy amount spent'].describe()

count    623.000000
mean     499.480207
std       79.622472
min      259.501129
25%      447.665160
50%      498.806136
75%      551.257208
max      739.698916
Name: Yealy amount spent, dtype: float64

In [46]:
datanew.head()

,Avg Session length,Time on App,Time on Website,Length of MemberShip,Yealy amount spent
0,32.538350,12.028846,35.850540,3.648854,576.098273
1,34.206718,12.226851,37.246443,1.987536,460.784955
2,31.535240,11.814341,36.610697,3.351191,349.739791
3,32.199577,11.295163,37.425695,5.234337,547.709921
4,33.570137,13.500972,36.856165,3.938603,487.055641

In [47]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
import warnings
warnings.filterwarnings("ignore")

# model buliding

# svm

In [111]:
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [112]:
x=datanew.iloc[:,:-1]
y=datanew.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [113]:
modelsvm= SVR()
modelsvm.fit(x_train,y_train)

SVR()

In [114]:
predt=modelsvm.predict(x_test)

In [115]:
metrics.mean_absolute_percentage_error(predt,y_test)

0.12884185682061491

In [116]:
metrics.mean_absolute_error(predt,y_test)

64.47331255212232

## decision tree

In [105]:
from sklearn.tree import DecisionTreeRegressor
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics

In [106]:
x=datanew.iloc[:,:-1]
y=datanew.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [107]:
model=DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [108]:
pred=model.predict(x_test)

In [109]:
metrics.mean_absolute_percentage_error(y_test,pred)

0.19005761728414627

In [110]:
metrics.mean_absolute_error(y_test,pred)

87.26216710608155

## random forest

In [62]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [63]:
x=datanew.iloc[:,:-1]
y=datanew.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [64]:
model2=RandomForestRegressor()
model2.fit(x_train,y_train)

RandomForestRegressor()

In [65]:
y_pred=model2.predict(x_test)

In [66]:
metrics.mean_absolute_percentage_error(y_test,y_pred)

0.1616783872214229

In [67]:
metrics.mean_absolute_error(y_pred,y_test)

72.92186530839085

## bagging regression

In [68]:
from sklearn.ensemble import BaggingRegressor
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [69]:
x=datanew.iloc[:,:-1]
y=datanew.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [70]:
model4=BaggingRegressor()
model4.fit(x_train,y_train)

BaggingRegressor()

In [71]:
ypredict=model4.predict(x_test)

In [72]:
metrics.mean_absolute_percentage_error(y_test,ypredict)

0.16126193349156165

In [73]:
metrics.mean_absolute_error(ypredict,y_test)

73.1622282663991

### linear regression

In [74]:
from sklearn.linear_model import LinearRegression
import statsmodels.formula.api as smf
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [75]:
x=datanew.iloc[:,:-1]
y=datanew.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [76]:
modelLR=LinearRegression()
modelLR.fit(x_train,y_train)

LinearRegression()

In [77]:
pred=modelLR.predict(x_test)

In [78]:
metrics.mean_absolute_error(pred,y_test)

65.15961128463418

In [79]:
metrics.mean_absolute_percentage_error(pred,y_test)

0.12985566856247913

# lasso ridge and elasticnet regression

In [80]:
from sklearn.linear_model import  Ridge
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet

### ridge

In [81]:
x=datanew.iloc[:,:-1]
y=datanew.iloc[:,-1]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=20)

In [82]:
modelridge=Ridge()
modelridge.fit(x_train,y_train)

Ridge()

In [83]:
predict=modelridge.predict(x_test)

In [84]:
metrics.mean_absolute_percentage_error(predict,y_test)

0.12985318553437675

In [85]:
metrics.mean_absolute_error(predict,y_test)

65.15833775107154

### lasso

In [86]:
modellasso = Lasso() 
modellasso.fit(x_train, y_train) 
y_predict= modellasso.predict(x_test)

In [87]:
metrics.mean_absolute_error(y_predict,y_test)

65.16080520909212

In [88]:
metrics.mean_absolute_percentage_error(y_predict,y_test)

0.1298817762301462

### elasticnet

In [94]:
e_net = ElasticNet() 
e_net.fit(x_train, y_train)

ElasticNet()

In [95]:
pred_y=e_net.predict(x_test)

In [96]:
metrics.mean_absolute_error(pred_y,y_test)

64.93695045689762

In [97]:
metrics.mean_absolute_percentage_error(pred_y,y_test)

0.12942863460155363